
@media(max-width:575px) and (min-width:0px){
    .top-header .delivery {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link{
        margin: 0;
        padding: 0;
        
        display: inline-block;
        margin-top: 5%;
    }
    .nav-item{
        text-align: center;
    }
    .week-section{
        text-align: center;
    }
    .week-section h3{
        margin-left: 10%;
    }
    .week-section h1{
        font-size: 80px;
    }
    .week-section h2{
        font-size: 50px;
    }
    .top-header{
        margin-bottom: -10%;
    }
    .popular-burger{
        margin-bottom: 15px;
    
    }
    .more-fun{
       
        margin: auto;
        margin-bottom: 15px;
    }
    .order-section h2{
        margin-bottom: 5px;
    }
    .order-section p{
        margin-bottom: 5px;
    }
    .btn-order{
        margin-bottom: 30px;
    }
    .upcoming-events{
        text-align: center;
        margin: auto;
    }
    .upcoming-events h1{
        font-size: 28px;
    }
    .upcoming-events p{
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
    .burger-content{
        margin: auto;
    }
    .form-content h5{
        font-size: 20px;
    }
    .form-content h1{
        font-size: 25px;
    }
    .table-content{
        margin: 0;
    }
    .footer-logo img{
        width: 40%;
    }
    .footer-p p{
        font-size: 16px;
    }
    .footer-icon ul li .icon i {
        width: 50px;
        font-size: 30px;
    }
    .footer-icon ul li h3{
        font-size: 18px;
    }
    .copyright-section {
        display: block;
        margin-top: 5%;
    }
    .copy p{
        text-align: center;
        font-size: 16px;
      
    }
    .social-icon ul li{
        margin-left: 10px;
    }
    .social-icon ul{
        margin-left: 18%;
    }
   
}

@media(max-width:515px) and (min-width:0px){
    .week-section h3{
        margin: auto;
        margin-bottom: 20px;
    }
    .week-section h1{
        font-size: 70px;
    }
    .week-section h2{
        font-size: 40px;
    }
    .owl-dots {
        margin-left: 15%;
        margin-top: 20px;
    }
    .burger-img img{
        width: 80%;
        height: 400px;
    }
    .burger-price{
        height: 100px;
        width: 100px;
        top: 65%;
        left: -15%;
    }
    .dollar{
        height: 90px;
        width: 90px;
        padding: 10px 5px;
        margin: 2px 2px;
    }
    .dollar h3{
        font-size: 30px;
    }
    .dollar h3 span{
        font-size: 16px;
    }
    .dollar h4{
        font-size: 24px;
    }

}
@media(max-width:443px) and (min-width:0px){

.week-section h3 {
  
 width: auto;
   
}
.week-section h1{
    font-size: 50px;
}
.week-section h2{
    font-size: 30px;
}
.top-header .logo {
    width: 45%;
    margin-bottom: -5px;
}
.burger-img img{
    width: auto;
    height: auto;
}
}
@media(max-width:385px) and (min-width:0px){
    .owl-dots{
        margin-left: 10%;
    }
    .upcoming-events h1{
        font-size: 20px;
    }
    .upcoming-events p{
        width: auto;
    }
    .social-icon{
        margin-left: -8%;
    }
}

@media(max-width:767px) and (min-width:576px){
    .top-header .delivery {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link{
        margin: 0;
        padding: 0;
        
        display: inline-block;
        margin-top: 5%;
    }
    .nav-item{
        text-align: center;
    }
    .week-section{
        text-align: center;
    }
    .top-header{
        margin-bottom: 3%;
    }

.top-header .logo img {
    margin-bottom: -75px;
}
.week-section{
    text-align: center;
}
.week-section h3{
    width: auto;
}
.week-section h1{
    font-size: 90px;
}
.week-section h2{
    font-size: 50px;
}
.description {
    margin: auto;
    margin-top: 15px;
    margin-left: 13px;
}
.order-section{
    margin: auto;
}
.order-section h2{
    margin-bottom: 0;
}
.btn-order{
    margin-bottom: 30px;
}
.upcoming-events{
    text-align: center;
    margin: auto;
}
.upcoming-events h1{
    font-size: 28px;
}
.upcoming-events p{
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
}
.burger-content{
    margin: auto;
}
.owl-dots {
    margin-left: 30%;
    margin-top: 20px;
}
.footer-logo img{
    width: 50%;
    margin: auto;
}
.footer-logo {
    margin-left: 20%;
}
.footer-p p{
    font-size: 16px;
}
.footer-icon ul li .icon i {
    width: 45px;
    font-size: 30px;
    margin: auto;
}
.footer-icon ul li h3{
    font-size: 20px;
}
.copyright-section {
    display: block;
    margin-top: 5%;
}
.copy p{
    text-align: center;
    font-size: 16px;
  
}
.social-icon ul li{
    margin-left: 10px;
}
.social-icon ul{
    margin-left: 18%;
}
}

@media(max-width:991px) and (min-width:768px){
    .top-header{
        padding: 0;
    }
    .top-header .delivery{
        margin-top: 15px;
    }
    .navbar-light .navbar-nav .nav-link{
        margin-top: 10px;
    }
    .week-section {
        margin-top: 40px;
        text-align: center;
        margin-left: 20%;
    }
    .week-section h3{
        margin-left: 20%;
    }
    .week-section h2{
        margin-left: 55%;
    }
    .burger-img img {
        margin-top: 100%;
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-left: -110%;
    }
    .burger-price {
        height: 120px;
        width: 120px;
        top: 80%;
        left: -60%;
    }
    .dollar {
        height: 100px;
        width: 100px;
      
        padding: 18px 0;
     
    }
    .dollar h3{
        font-size: 32px;
    }
    .dollar h4{
        font-size: 24px;
    }
    .more-fun{
        margin-bottom: 10px;
    }
    .events-section{
        margin-left: 10%;
    }
    .upcoming-events{
        margin: auto;
    }
    .upcoming-events h1{
        font-size: 25px;
    }
    .upcoming-events p{
        width: auto;
    }
    .burger-content {
        width: 100%;
        margin-left: 0;
        margin-top: 12%;
    }
    .form-section{
        height: 580px;
    }
    .footer-logo img{
        width: 40%;
        margin: auto;
        margin-left: 5%;
    }
    .footer-logo {
        margin-left: 20%;
    }
    .social-icon {
        margin-left: -85%;
    }
    .copy p{
        font-size: 13px;
    }
    .footer-icon ul li h3{
        font-size: 20px;
    }
    .footer-icon{
        margin-top: 20px;
    }
}
@media(max-width:1199px) and (min-width:992px){
    .top-header{
        padding: 0;
    }
    .top-header .delivery{
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .top-header .logo img{
        margin-top: 15px;
    }
    .week-section {
        margin-top: 35px;
        text-align: center;
        margin-left: 45%;
    }
    .week-section h3{
        margin-left: 20%;
    }
    .week-section h2{
        margin-left: 58%;
    }
    .burger-img img {
        margin-top: 80%;
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin-left: -100%;
    }
    .burger-price{
        height: 130px;
        width: 130px;
        top: 80%;
        left: -50%
   
    }
    .dollar{
        height: 110px;
    width: 110px;
    margin: 8px 7px;
    padding: 15px 0;
    }
    .dollar h3{
        font-size: 40px;
    }
    .dollar h4{
        font-size: 28px;
    }
    .more-fun{
        margin-bottom: 20px;
    }
    .events-section{
        margin-left: 10%;
    }
    .upcoming-events{
        margin: auto;
    }
    .upcoming-events h1{
        font-size: 25px;
    }
    .upcoming-events p{
        width: auto;
    }
    .burger-content {
        width: 100%;
        margin-left: 0;
        margin-top: 0%;
    }
    .burger-content img{
        margin: 10% 0;
    }
    .form-section{
        height: 600px;
    }
    .footer-p p{
        font-size: 17px;
    }
    .footer-icon ul li .icon i{
        width: 50px;
        font-size: 30px;
    
    }
    .footer-icon ul li h3{
        font-size: 19px;
    }
    .copy p{
        font-size: 18px;
    }
    .social-icon ul{
        width: 80%;
        margin-left: 25%;
    }
}
@media(max-width:1399px) and (min-width:1200px){
    .more-fun{
        margin-bottom: 25px;
    }
    .order-section{
        margin: auto;
    }

    .events-section{
        margin-left: 10%;
    }
    .upcoming-events{
        margin: auto;
    }
    .upcoming-events h1{
        font-size: 25px;
    }
    .upcoming-events p{
        width: auto;
    }
    .burger-content {
        width: 100%;
      margin: auto;
    }
    .burger-content img{
       
    }
    .upcoming-events h5{
        margin-top: 50px;
    }
    .social-icon{
        margin-left: -32px;
    }
    .copy p{
        font-size: 16px;
        margin-top: 13px;
    }
}
@media(max-width:320px){
    .burgers-img-2 {
        margin: auto;
    }
    .tasty-burger h1 {
        font-size: 24px;
    }
}